{
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "sourceType": "module",
        "warnOnUnsupportedTypeScriptVersion": true
      }
    }
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  }
}
